section{
    border: 2px solid black;
    width: 100%;
    height: 70px;
    margin: auto;
    /*border-width: 15px;
    border-style: solid;
    border-color: red;
    border: 5px dotted green;
    border-top-style: solid;
    border-bottom-style: dashed;
    border-left-style: dotted;
    border-left-style: double;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-color: red;
    border-bottom-color: green;
    border-left-color: blue;
    border-right-color: brown;*/

    /*
    border-top-left-radius:20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 20px;

    border-radius: 50%;

    outline-width: 10px ;
    outline-style: dashed;
    outline-offset: 2px;
    outline-color: red;

    outline: 5px dashed blue;*/

    border-radius: 10px;
    background-color: orange;
    text-align: center;

}
section {
    border: 2px solid black;
    height: 500px;
    width: 500px;
}