* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.section1{
    /* border: 2px solid; */
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* transition: property duration timing function delay; */
    transition: transform 3s ease-in;
    overflow: hidden;
    
}


.img1{
    /* border: 2px solid; */
    width: 300px;
    height: 300px;
    border-radius: 20px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */

}

.img1:hover{
    transform: translateX(300px) rotate(400deg);
    transition-duration: 1s;
    transform: scale(1.2);
    animation-duration: 2s;


}



.section2{
    height: 350x;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.img2{

    width: 300px;
    height: 300px;
    border-radius: 20px;
}


.img2:hover{
    transition-duration: 2s;
    transform: scale(1.2);
    animation-duration: 2s;
}



.btn1{
    /* border: 2px solid; */
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: green;
    transition: transform 2s ease-in;
    justify-content: center;
    
}

.btn1:hover{
    color: white;

    transform: scale(1.2);
    transition-duration: 3s;


}