*{
    /* margin: 0%; */
    /* padding: 0%; */
    box-sizing: border-box;
}


.main{
    /* border: 2px solid; */
    background-color: black;
    height: 4800px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.div2{
    /* border: 2px solid; */
    color: white;

}

.div3{
    /* border: 2px solid; */
    background-color: darkgoldenrod;
    width: 600px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-left: 450px;
    /* padding-left: 50px; */
}

.div4{
    /* border: 2px solid; */
    width: 300px;
    height: 400px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.div5{
    /* border: 2px solid; */
    height: 170px;
    color: white;
    width: 100%;
}

.div6{
    border: 2px solid;
    color: white;
    height: 520px;
}

.div7{
    color: white;
}

.div8{
    border: 2px solid white;
    color: white;
}

.div9{
    /* border: 2px solid; */
    color: white;
}

.div10{
    color: white;
    height: 1300px;
    text-align: center;
    margin-left: 400px;
    /* border: 2px solid; */
}

table{
    border: 2px solid white;
    border-collapse: collapse;
    
}

table tr th {
    /* width: 400px; */
    /* height: 400px;  */
    border: 2px solid white;
}

table tr td{
    border: 2px solid;
    padding: 40px;
    
    
}

.div11{
    color: white;
    /* border: 2px solid; */
}

.div12{
    color: white;
    border: 2px solid red;
    height: 350px;
    width: 800px;
    text-align: center;
    margin-left: 320px;
}

.div13{
    /* color: white; */
    background-color: yellow;
}

